fastapi==0.95.2
h11==0.14.0
huggingface-hub==0.14.1
requests==2.31.0
sentence-transformers==2.2.2
tokenizers==0.13.3
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
transformers==4.29.2
urllib3==2.0.2
uvicorn==0.22.0
black
pylint
pytest
pytest-cov
ipython



























